export(areaplot)
export(getcurrent)
export(getCapitalGain)
export(plotDensityPortefeuilleByShare)
export(volatilite)
export(getPortefeuilleValue)
export(highlowplot)
export(listbyindustry)
export(getPlotCapitalGain)
export(getCapitalGainMonth)
export(densityGain)
export(plotDensity)
export(makestocktable)
export(getMoyenne)
export(getMoyenneGeometrique)
export(getVariance)
export(getSkewness)
export(getKurtosis)
export(plotwrapper)
export(smoothplot)
export(yahoodata)
export(varianceGain)
import(ggplot2)
import(moments)
import(stringi)
import(scales)
